body {
  background-color: #f5deb3;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 600px;
  padding: 20px;
}

form {
  background-color: #fff8e1;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 0 5px #aaa;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #deb887;
  border: none;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}

.entry {
  background-image: url("image/notepaper.png");
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}


.navigation {
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  button {
    font-size: 18px;
  }
}
